html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

.navbar {
    display: flex;
    height: 65px;
    width: 100%;
    background-color: rgb(32, 0, 61);
    font-weight: 600;
    font-size: 100%;
    position: relative;
    z-index: 1000;
}

.left-menu {
    list-style: none;
    display: flex;
    margin-left: 6%;
    align-items: center;
    flex-shrink: 1;
    width: calc(100% - 30%);
}

.item-logo {
    width: calc(100% - 80%);
    min-width: 140px;
}

.item-menu {
    display: flex;
    justify-content: space-around;
    width: 29rem;
}

.dropdown-at-800px {
    display: none;
}

.right-menu {
    list-style: none;
    display: flex;
    align-items: center;
    width: 17rem;
    justify-content: space-evenly;
    flex-shrink: 3;
}

.logo {
    height: 65%;
    margin-left: calc(100% - 117%);
}

.item a {
    color: white;
}

.item a:hover {
    text-underline-offset: var(--offset, 0.3em);
    text-decoration: underline 0.15em;
    transition: text-decoration-color 800ms;
}

.item a:hover,
a:focus {
    text-decoration-color: orange;
}

.signup-btn {
    background-color: rgb(32, 0, 61);
    border: 1px solid white;
    border-radius: 5px;
    height: 40px;
    font-weight: 700;
    font-size: 100%;
    display: flex;
    align-items: center;
}

.signup-btn a {
    padding: 10px 15px;
    color: white;
}

.signup-btn a:hover {
    color: rgb(32, 0, 61);
    transition: all 400ms ease;
}

.signup-btn:hover {
    background-color: white;
    transition: all 700ms ease;
}

.hide-login {
    display: none;
    align-self: center;
    /* width: 18%; */
    /* flex-basis: 18%; */
    position: absolute;
    left: calc(100% - 98px);
}

.login-logo {
    border: 1px solid #fff;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    align-self: center;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.login-logo img {
    width: 25px;
    height: 25px;
    display: flex;
    align-self: center;
}

.hamburger1,
.hamburger2 {
    display: none;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 28px;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

.icon .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}

.icon .bar2 {
    opacity: 0;
}

.icon .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}

.dropdown-at-375px {
    display: none;
}

.wrapper {
    height: 35rem;
    margin: 10px;
    overflow: hidden;
    box-shadow: -0.5px 4px 10px 3px #00000085;
    border-radius: 10px;
}

.slide-container {
    position: relative;
    height: 35rem;
    border-radius: 10px;
    transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
    /* text-align: center; */
}

.slide-image {
    width: 100%;
    height: 100%;
    position: absolute;

}

.slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.slider-image-text {
    display: none;
    position: absolute;
    z-index: 2;
    /* top: calc(100% - 420px); */
    color: #fff;
    margin: 0px 10%;
}

.slider-image-text h1 {
    margin-bottom: 20px;
    font-size: 55px;
    /* font-weight: 900; */
    letter-spacing: 5px;
}

.slider-image-text p {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 35px;
    text-transform: capitalize;
}

.overlay {
    background-color: #000;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 35rem;
    border-radius: 10px;
    opacity: 0.4;
}

.slider-text-animation {
    top: 200px;
    animation: appear 1s ease-in-out forwards;
    display: block;
}

@keyframes appear {
    0% {
        opacity: 0;
        /* display: block; */
    }

    /* 40% {
        transform: translateY(-10px);
        opacity: 1;
    }

    60% {
        transform: translateY(-30px);
        opacity: 1;
    }


    80% {
        transform: translateY(-50px);
        opacity: 1;
    } */

    100% {
        transform: translateY(-70px);
        opacity: 1;
    }
}

.prev-btn img,
.next-btn img {
    height: 45px;
    position: absolute;
    z-index: 100;
    top: 21.6rem;
    transform: translateY(-50%);
    background: #fff;
    opacity: 0.5;
    margin: 0 20px;
    border-radius: 50%;
}

.prev-btn img {
    left: 0;
}

.next-btn img {
    right: 0;
}

.prev-btn img:hover,
.next-btn img:hover {
    opacity: 0.9;
    transition: all 250ms ease-in;
}

.navigation-dots {
    display: flex;
    width: 100%;
    height: 32px;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: calc(100% - 620px);
}

.single-dot {
    height: 4px;
    width: 5%;
    max-width: 60px;
    border-radius: 5px;
    cursor: pointer;
    transition: 400ms;
    margin: 0 8px;
    box-shadow: 0px 0px 9px 1px #979797;
}

.single-dot.active {
    background-color: #fff;
}

@media (max-width: 1024px) {
    .right-menu {
        display: none;
    }

    .hide-login {
        display: flex;
        justify-content: end;
        flex-shrink: 1;
    }

    .login-dropdown {
        display: inherit;
        flex-direction: column;
        position: absolute;
        top: 4.5rem;
        height: 7rem;
        left: calc(100% - 145px);
        width: 8rem;
        background-color: #fff;
        box-shadow: 0px 6px 19px 3px #00000075;
        border-radius: 5px;
        padding: 0;
        z-index: 100;
    }

    .right-menu .item {
        width: 65%;
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }

    .right-menu .item:hover {
        background-color: #80808066;
        transition: all 200ms ease;
    }

    .right-menu .item a {
        color: rgb(32, 0, 61);
        text-transform: uppercase;
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .right-menu .signup-btn:hover {
        border: 2px solid rgb(32, 0, 61);
        border-radius: 5px;
        background-color: #fff;
    }

    .right-menu .signup-btn a:hover {
        color: rgb(32, 0, 61);
    }

    .wrapper {
        height: 25rem;
    }

    .slider-image-text h1 {
        margin-bottom: 15px;
        font-size: 40px;
        /* font-weight: 900; */
        letter-spacing: 4px;
    }

    .slider-image-text p {
        /* font-weight: 600; */
        font-size: 15px;
        letter-spacing: 2.5px;
        line-height: 21.5px;
        /* text-transform: capitalize; */
    }

    .slider-text-animation {
        top: 180px;
        /* animation: appear 1s ease-in-out forwards;
        display: block; */
    }

    .prev-btn img,
    .next-btn img {
        height: 35px;
        top: 17.2rem;
    }

    .navigation-dots {
        bottom: calc(100% - 460px);
    }
}

@media (max-width: 800px) and (min-width: 375px) {
    .hamburger1 {
        display: block;
        position: absolute;
        right: calc(100% - 45px);
        top: -14px;
    }

    .hamburger2 {
        display: none;
    }

    .item-menu {
        display: none;
    }
    
    .change {
        display: none;
    }

    .dropdown-at-800px {
        display: flex;
        /* list-style: none; */
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        height: 15rem;
        background-color: #fff;
        box-shadow: 0px 6px 20px 20px #00000075;
        border-radius: 0 0 5px 5px;
        z-index: 101;
        top: 0;
        animation: drop-800px-Animation 250ms ease-in forwards;
    }
        
    @keyframes drop-800px-Animation {
        0% {
            opacity: 0;
        }
    
        100% {
            transform: translateY(65px);
            opacity: 1;
        }
    }

    .dropdown-at-800px .item a {
        color: rgb(32, 0, 61);
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        width: 100%;
        justify-content: center;  
    }

    .dropdown-at-800px .item {
        border-radius: 5px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 90%;
        background: #faf7f7;
    }

    .dropdown-at-800px .item:hover {
        background-color: rgb(32, 0, 61);
        width: 90%;
        transition: all 350ms ease;
    }

    .dropdown-at-800px .item a:hover {
        color: #fff;
        text-decoration: none;
    }

    .login-logo {
        left: calc(100% - 50px);
        position: absolute;
    }

    .login-dropdown {
        left: calc(100% - 195px);
        position: absolute;
        z-index: 1;
    }
}

@media (max-width: 768px) {
    .slider-image-text {
        margin: 0px 15%;
    }

    .slider-image-text h1 {
        margin-bottom: 15px;
        font-size: 32px;
        /* font-weight: 900; */
        letter-spacing: 3px;
    }

    .slider-image-text p {
        /* font-weight: 600; */
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 20px;
        /* text-transform: capitalize; */
    }

    .slider-text-animation {
        top: 180px;
        /* animation: appear 1s ease-in-out forwards;
        display: block; */
    }
}

@media (max-width: 426px) {
    .hide-login {
        left: calc(100% - 70px) !important;
    }

    .login-dropdown {
        left: calc(100% - 170px);
    }

    .logo {
        margin-left: calc(100% - 135%);
    }

    .slider-image-text {
        margin: 0px 18%;
        text-align: center;
        word-wrap: break-word;
    }

    .slider-image-text h1 {
        margin-bottom: 15px;
        font-size: 30px;
        letter-spacing: 3px;
    }

    .slider-image-text p {
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 20px;
    }

    .slider-text-animation {
        top: 165px;
    }
}

@media (max-width: 375px) {
    .slider-image-text h1 {
        margin-bottom: 15px;
        font-size: 27px !important;
        letter-spacing: 2px !important;
    }

    .item-menu {
        display: none;
    }

    .login-logo {
        display: none;
    }

    .login-dropdown {
        display: none;
    }

    .hide-login {
        left: calc(100% - 50px) !important;
    }

    .hamburger1 {
        display: none;
    }

    .hamburger2 {
        display: block;
    }

    .full-menu {
        display: none;
    }

    .dropdown-at-375px {
        display: flex;
        /* list-style: none; */
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        /* top: 4rem; */
        left: 0;
        width: 100%;
        height: 22rem;
        background-color: #fff;
        box-shadow: 0px 6px 20px 20px #00000075;
        border-radius: 0 0 5px 5px;
        z-index: 101;
        top: 0;
        animation: drop-375px-Animation 250ms ease-in forwards;
    }

    @keyframes drop-375px-Animation {
        0% {
            opacity: 0;
        }

        100% {
            transform: translateY(65px);
            opacity: 1;
        }
    }

    .dropdown-at-375px .item a {
        color: rgb(32, 0, 61);
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .dropdown-at-375px .item {
        border-radius: 5px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 90%;
        background: #faf7f7;
    }

    .dropdown-at-375px .item:hover {
        background-color: rgb(32, 0, 61);
        width: 90%;
        transition: all 350ms ease;
    }

    .dropdown-at-375px .item a:hover {
        color: #fff !important;
        text-decoration: none;
    }
}