html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    z-index: 1000;
}

.dropdown-at-800px {
    position: fixed;
}

.container {
    display: flex;
    margin: 0 7%;
    padding-top: 100px;
    line-height: 24px;
}

.container-1 {
    left: 0;
    margin-left: 5%;
    padding-right: 30px;
    margin-top: 5.9rem;
    width: calc(100% - 1223px);
    min-width: 270px;
    max-width: 300px;
    max-height: calc(100vh - 212px);
    overflow: scroll;
    position: fixed;
    z-index: 0;
}

.container-1 ul {
    padding: 0;
}

.container-1 li {
    padding-top: 10px;
    padding-left: 30px;
    list-style: none;
    font-weight: 600;
}

.container-1 li a {
    color: #4c7af1;
    border-bottom: 3px solid #fff;
}

.container-1 li a:hover {
    border-bottom-color: rgba(76, 122, 241, .75);
    transition: all .2s ease;
}

.container-2 {
    position: relative;
    margin-left: 16rem;
    padding: 0 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.modified-date {
    margin: 0;
    padding-top: 5px;
}

p,
h4 {
    padding-top: 13px;
}

.information-details {
    padding-top: 10px;
}

.information-details li {
    padding-top: 3px;
}

.mail {
    padding-top: 8px;
}

strong {
    overflow-wrap: break-word;
}

.text-area {
    margin-top: 45px;
    padding: 20px 12px;
    background: #8080801f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.section-1{
    padding-top: 30px;
}

@media (max-width: 768px) {
    .container {
        margin-left: 0;
        width: 100%;
        justify-content: center;
    }

    .container-1 {
        display: none;
    }

    .container-2 {
        width: 95%;
        margin: 0;
    }
}

@media (max-width: 425px) {
    .container-2 {
        padding: 0 25px !important;
    }
}

/* @media (max-width: 375px) {
    .container-2 {
        padding: 0 !important;
    }
} */

@media (max-width: 375px) {
    .container {
        width: 100% !important;
    }

    .container .container-2 {
        width: 100%;
        word-wrap: break-word;
    }

    .heading-site {
        display: flex;
    }

    .container-2 .heading-site h1 {
        display: flex;
        word-wrap: break-word;
    }
}