* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

body {
    background: linear-gradient(rgb(33, 13, 59) 4%, rgb(68, 137, 211) 160%);
}

.left-menu {
    display: inline-block;
    margin: 22px;
}

.left-menu li {
    list-style: none;
}

.logo {
    height: 50px;
    /* margin-left: calc(100% - 117%); */
}

/* .navbar {
    background-color: rgba(68, 68, 68, 0.132) !important;
}

.left-menu .item a,
.right-menu .item a {
    color: rgb(32, 0, 61);
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    /* position: absolute; */
    width: 600px;
    /* margin: 0 40px; */
    /* min-width: 600px; */
    height: 588px;
    top: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-radius: 10px;
    margin: 0 20%;
    box-shadow: 0px 0px 20px 10px #00000069;
    /* padding-left: 35px; */
}

.close-btn {
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: end;
    align-items: center;
}

.bar1,
.bar2 {
    display: block;
    justify-content: end;
    width: 28px;
    height: 3px;
    background-color: rgb(117, 117, 117);
    border-radius: 5px;
    cursor: pointer;
}

.close-btn .bar1 {
    -webkit-transform: rotate(-49deg) translate(-11px, -9px);
    transform: rotate(-49deg) translate(-11px, -9px);
}

.close-btn .bar2 {
    -webkit-transform: rotate(411deg) translate(-9px, 10px);
    transform: rotate(411deg) translate(-9px, 10px)
}

.container-for-padding {
    padding: 0 15%;
}

.heading-signup {
    display: flex;
    /* justify-content: center; */
    align-items: end;
    /* margin-top: 30px; */
    /* height: 110px; */
    /* width: 50%; */
    /* border: 1px solid black; */
    /* background-color: rgb(102, 102, 244); */
}

.create-acc-heading p{
    margin-top: 7px;
    color: #999999;
    letter-spacing: 0.8px;
}

.form-for-signup {
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading-signup h1 {
    /* padding: 50px 0; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    /* text-shadow: 0px 0px 3px #000000d6; */
    letter-spacing: 2px
}

.name-box {
    display: flex;
    justify-content: space-between;
}

.name-box .boxes {
    /* margin-right: 10px; */
    width: 12rem;
}
.boxes input {
    border: none;
    /* display: block; */
    height: 45px;
    width: 100%;
    padding: 0 15px;
    margin: 10px 0;
    /* border: 2px solid rgb(0 0 0 / 26%); */
    border-radius: 5px;
    letter-spacing: 1.5px;
    font-size: 16px;
    background: #9999993d;
}

.boxes input:hover,
input:focus {
    outline: none;
}

.signup-btn button {
    border: none;
    font-size: large;
    background: linear-gradient(to left, rgb(33, 13, 59), rgb(68, 137, 211));
    color: #fff;
    width: 8rem;
    padding: 13px 7px;
    border-radius: 3px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.accept-statement {
    display: flex;
}

.accept-statement .policy-checkbox {
    padding: 3.5px 0;
}

.accept-statement p{
    padding-left: 10px;
    letter-spacing:  0.5px;
    color: rgb(117, 117, 117);
}

.accept-statement a {
    text-decoration: none;
    color: rgb(61, 137, 218);
}

@media (max-width: 1008px) {
    .container-for-padding {
        padding: 0 8% !important;
    }

    .name-box .boxes {
        /* margin-right: 10px; */
        width: 9.5rem;
    }

    .signup-box {
        max-width: 385px;
    }

    .create-acc-heading p {
        font-size: 90% !important;
    }

    .name-box .boxes:nth-of-type(2) {
        margin-left: 20px;
    }
}

@media (max-width: 640px) {    
    .signup-box {
        height: 500px;
        background: transparent;
        width: 100%;
        /* border: 1px solid #fff; */
        margin: 0;
        color: #fff;
        box-shadow: none;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .close-btn {
        position: absolute;
        top: 15px;
        /* right: 30px; */
        display: flex;
        justify-content: end;
        margin-right: 15px;
    }

    .bar1,
    .bar2 {
        background-color: #fff !important;
    }

    .boxes input {
        /* background: transparent; */
        border: none !important;
        /* border: 1px solid #fff !important; */
        border-radius: 3px;
        padding: 0 10px !important;
        color: #fff;
        box-shadow: none;
    }
    
    .boxes input::placeholder {
        color: rgba(255, 255, 255, 0.737) !important;
    }
    
    .boxes input:focus-visible {
        box-shadow: 0px 4px 7px 0px #fff;
        transition: all 200ms ease-in-out;
    }
    
    .signup-btn button:hover {
        background: #fff;
        color: rgb(42, 46, 99);
        transition: 700ms cubic-bezier(0.48, 0.15, 0.18, 1) !important;
    }

    .accept-statement p {
        color: #fff !important;
    }
    
    .accept-statement a {
        text-decoration: none;
        color: rgb(128 189 255) !important;
    }
}

@media (max-width: 400px) {
    .container-for-padding {
        width: 80%;
    }

    form.form-for-signup {
        /* padding: 0; */
        width: 100%;
    }

    .boxes input {
        /* background: transparent; */
        width: 100% !important;
        border: none !important;
        /* border: 1px solid #fff !important; */
        border-radius: 3px;
        padding: 0 10px !important;
        color: #fff;
        box-shadow: none;
        font-size: 80% !important;
    }

    .signup-btn button {
        width: 100% !important;
        font-size: 100% !important;
    }

    .accept-statement p {
        font-size: 80% !important;
    }
}